<div class="page-container--900">
  <div class="about-me-content position-relative page-background">
    <img src="/assets/img/marta.png" alt="Marta Wilczyńska" class="image">
    <div class="d-flex flex-row justify-content-center align-items-center header">
      <app-logo></app-logo>
    </div>
    <div [innerHTML]="'about-me.text.info' | translate" class="px-3 mt-3"></div>
    <app-quote [text]="'about-me.text.quote' | translate" by="Mark Twain"></app-quote>
    <p class="px-3" translate="about-me.text.invitation"></p>
    <p class="px-3 text-right">Marta Wilczyńska</p>
  </div>
</div>

<section class="mt-5 certificates-section py-3">
  <div class="mb-3">
    <h2 class="niconne text-center mb-0" translate="about-me.certificates.heading"></h2>
    <small class="text-center d-block text-secondary" translate="about-me.certificates.subheading"></small>
  </div>

  <app-better-carousel [elements]="verticalCertificates" [template]="carouselTemplate" [elementMinWidth]="200" (elementClick)="clickOnCertificate($event)"></app-better-carousel>
  <app-better-carousel [elements]="horizontalCertificates" [template]="carouselTemplate" [elementMinWidth]="250" (elementClick)="clickOnCertificate($event)"></app-better-carousel>
</section>

<ng-template #carouselTemplate let-element="element">
  <div class="px-1 w-100 h-auto certificate">
    <img class="w-100 h-auto" [src]="element.src" [alt]="element.alt" />
  </div>
</ng-template>