@import 'src/styles/import';

$br: 0.5rem;

header {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: map-get($theme-colors, primary);
  color: $white;
  background: map-get($theme-colors, primary);
  border-radius: $br $br 0 0;
}

main {
  border-left: 1px solid map-get($theme-colors, light);
  border-right: 1px solid map-get($theme-colors, light);
  border-bottom: 1px solid map-get($theme-colors, light);
  border-radius: 0 0 $br $br;
  background: $white;
}

.buttons--container {
  margin-bottom: -19px;
}

.btn-clear--custom {
  background: $white;
  border-color: map-get($theme-colors, light);
  color: $secondary;

  &:hover,
  &:active {
    background: map-get($theme-colors, light);
  }
}
