@import 'src/styles/import';

.heading {
  display: block;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  display: none;
  visibility: hidden;

  @media (min-width: 310px) {
    display: block;
    visibility: visible;
  }
}

.subheading {
  display: block;
  font-size: 1.3rem;
  line-height: 1rem;
  text-align: center;
  color: map-get($theme-colors, secondary);
  display: none;
  visibility: hidden;

  @media (min-width: 400px) {
    display: block;
    visibility: visible;
  }
}
