@import 'src/styles/import';

.rating-container {
  padding: 0 0.375rem;
  display: inline-block;
}

.star-button {
  padding: 0.375rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    i {
      color: $light !important;
    }
  }
}
