<div class="page-container--1200">
  <div class="page-background content__container position-relative">
    <img src="/assets/img/marta.png" alt="Marta Wilczyńska Image" class="marta-image" />
    <div class="d-flex justify-content-center align-items-center content__header">
      <app-logo></app-logo>
    </div>
    <div [innerHTML]="'about-me.text.info' | translate" class="px-3 mt-3"></div>
    <app-quote class="d-block px-3" [text]="'about-me.text.quote' | translate" by="Mark Twain"></app-quote>
    <p class="px-3" translate="about-me.text.invitation"></p>
    <p class="px-3 text-right">Marta Wilczyńska</p>
    <div class="content__buttons--container">
      <div class="container-fluid">
        <div class="form-row">
          <div class="col-12 col-sm-6">
            <a class="btn btn-block btn-outline-primary--custom btn-rounded wrap-text-button" [routerLink]="proceduresLink">
              <i class="fas fa-heartbeat fa-fw mr-1"></i>
              <span translate="home.buttons.surgical-procedures"></span>
            </a>
          </div>
          <div class="d-block d-sm-none w-100 pt-1"></div>
          <div class="col-12 col-sm-6">
            <a class="btn btn-block btn-info btn-rounded" [routerLink]="contactLink">
              <i class="fas fa-envelope fa-fw mr-1"></i>
              <span translate="home.buttons.contact"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>