@import 'src/styles/import';

.content__container {
  margin-top: 80px;
  padding-top: 80px;

  @include media-breakpoint-up(lg) {
    margin: 125px 125px 0 125px;
    padding-top: 0;
  }
}

.content__header {
  @include media-breakpoint-up(lg) {
    height: 125px;
  }
}

.marta-image {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;

  @include media-breakpoint-up(lg) {
    top: -125px;
    left: -125px;
    transform: translateX(0);
    width: 250px;
    height: 250px;
  }
}

.content__buttons--container {
  margin-bottom: -1.25rem;
}

.wrap-text-button {
  white-space: normal;
}
