<div class="row no-gutters">
  <div class="d-none d-md-block col-auto">
    <div class="drive-info p-3 page-height d-flex flex-column align-items-center">
      <h3 class="text-primary text-center mt-4">NOA Clinic</h3>
      <app-drive-info class="d-block mt-3"></app-drive-info>
      <div class="mt-4">
        <a class="btn btn-block btn-primary btn-rounded" target="_blank" href="https://www.google.com/maps/dir//LEGNICKA+BUSINESS+HOUSE+Sp.+z+o.o.,+Legnicka+56,+50-001+Wroc%C5%82aw/@51.1205955,16.9581549,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x470fea06d83d6d5f:0x3009714cfc17a186!2m2!1d16.9931742!2d51.1205469?hl=pl-PL">
          <span translate="drive.buttons.show-directions"></span>
          <i class="fas fa-fw fa-car ml-1"></i>
        </a>
      </div>
      <div class="mt-auto">
        <img src="/assets/img/lbh.jpg" alt="Legnicka Buisness House" class="lbh-image">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="page-height embed-responsive">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2504.3448405884656!2d16.993174!3d51.120547!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3009714cfc17a186!2sLEGNICKA+BUSINESS+HOUSE+Sp.+z+o.o.!5e0!3m2!1spl!2spl!4v1528972641762"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>