<ng-container [ngSwitch]="status">

  <ng-container *ngSwitchCase="PENDING">
    <header>
      <h4 class="text-center py-3 mb-0" translate="contact.form.heading"></h4>
    </header>
    <main class="px-3 pt-3">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate translatePrefix="contact.form">

        <div class="form-group">
          <app-input-with-error formControlName="name" translatePlaceholder>
            <div class="input-group-prepend" inputGroupPrepend>
              <div class="input-group-text">
                <i class="fas fa-user fa-fw"></i>
              </div>
            </div>
          </app-input-with-error>
        </div>

        <div class="form-group">
          <app-input-with-error formControlName="email" translatePlaceholder>
            <div class="input-group-prepend" inputGroupPrepend>
              <div class="input-group-text">
                <i class="fas fa-envelope fa-fw"></i>
              </div>
            </div>
          </app-input-with-error>
        </div>

        <div class="form-group">
          <app-input-with-error formControlName="phone" translatePlaceholder>
            <div class="input-group-prepend" inputGroupPrepend>
              <div class="input-group-text">
                <i class="fas fa-phone fa-fw"></i>
              </div>
            </div>
          </app-input-with-error>
        </div>

        <div class="form-group">
          <app-input-with-error formControlName="subject" translatePlaceholder>
            <div class="input-group-prepend" inputGroupPrepend>
              <div class="input-group-text">
                <i class="fas fa-user fa-fw"></i>
              </div>
            </div>
          </app-input-with-error>
        </div>

        <div class="form-group">
          <textarea formControlName="message" class="form-control" rows=6 [placeholder]="'contact.form.message.placeholder' | translate"
            [class.is-invalid]="message.invalid && (message.dirty || message.touched)"></textarea>
          <app-input-error-messages [control]="message" name="message" prefix="contact.form"></app-input-error-messages>
        </div>

        <small class="form-text text-muted mb-3" translate="contact.form.note"></small>

        <div class="buttons--container text-right">
          <div class="form-row">
            <div class="col-12 col-sm-6">
              <button class="btn btn-clear--custom btn-rounded btn-block" type="button" (click)="form.reset()">
                <i class="fas fa-eraser fa-fw mr-1"></i>
                <span translate="contact.form.buttons.clear"></span>
              </button>
            </div>

            <div class="w-100 d-block d-sm-none pt-1"></div>

            <div class="col-12 col-sm-6">
              <button class="btn btn-primary btn-rounded btn-block" type="submit" [disabled]="disabled">
                <i class="fas fa-location-arrow fa-fw mr-1"></i>
                <span translate="contact.form.buttons.submit"></span>
              </button>
            </div>
          </div>
        </div>

      </form>
    </main>
  </ng-container>

  <ng-container *ngSwitchCase="SUCCESS">
    <div class="alert alert-success">
      <h3 translate="contact.success.heading"></h3>
      <p translate="contact.success.message"></p>
      <button class="btn btn-success" (click)="form.reset(); status = PENDING">
        <i class="fas fa-plus fa-fw mr-1"></i>
        <span translate="contact.success.buttons.write-another"></span>
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="ERROR">
    <div class="alert alert-danger">
      <h3 translate="contact.error.heading"></h3>
      <p translate="contact.error.message"></p>
      <button class="btn btn-danger mr-2 mb-1" (click)="onSubmit()">
        <i class="fas fa-fw fa-sync mr-1"></i>
        <span translate="contact.error.buttons.try-again"></span>
      </button>
      <button class="btn btn-outline-danger mb-1" (click)="status = PENDING">
        <i class="fas fa-pencil-alt fa-fw mr-1"></i>
        <span translate="contact.error.buttons.edit-form"></span>
      </button>
    </div>
  </ng-container>

</ng-container>