@import 'src/styles/import';

.review--container {
  display: inline-block;
  overflow: hidden;
}

.fa-stack {
  $fa-stack-size: 1.3em;
  width: $fa-stack-size;
  height: $fa-stack-size;
  line-height: $fa-stack-size;
}

.signature-text {
  font-style: italic;
  font-size: 0.8rem;
}
