<div class="review--container p-3">
  <div class="mb-2">
    <span class="fa-stack fa-1x" *ngFor="let star of scoredStars">
      <i class="fas fa-star fa-fw text-primary fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-1x">
      <i class="fas fa-star-half fa-stack-1x text-primary"></i>
      <i class="fas fa-star-half fa-stack-1x fa-flip-horizontal text-light"></i>
    </span>
    <span class="fa-stack fa-1x" *ngFor="let star of remainingStars">
      <i class="fas fa-star fa-fw text-light fa-stack-1x"></i>
    </span>
  </div>
  <p class="mb-1 ">{{text}}</p>
  <p class="mb-0 text-secondary text-right signature-text">{{signature}}</p>
</div>