@import 'src/styles/import';

textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid $light;
  border-bottom: 2px solid $light;
  border-radius: 0.375rem 0.375rem 0 0;
  outline: none;
  resize: vertical;

  &::placeholder {
    opacity: 0;
  }

  &:focus {
    border-color: $primary;
    &::placeholder {
      opacity: 1;
    }
  }

  &.error {
    color: $danger;
    border-color: $danger;
  }
}

label {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  transition: top 300ms, left 300ms, transform 300ms;
  color: $secondary;
  cursor: text;

  &.focused,
  &.not-empty {
    transform: translateX(0);
    top: -1rem;
    left: 0;
    font-size: 12px;
  }

  &.focused {
    color: $primary;
  }

  &.error {
    color: $danger;
  }
}
