<div class="d-flex flex-row mb-4 justify-content-end align-items-center">
  <i class="fas fa-fw fa-phone fa-3x text-primary"></i>
  <div class="contact-info text-right">
    <span class="text-secondary text-label">Marta Wilczyńska:</span>
    <span class="text-primary phone-number-large">+48 501 531 926</span>
    <span class="text-primary">martawilczynska.pl@gmail.com</span>
  </div>
</div>
<div class="contact-info text-right">
  <span class="text-secondary text-label">NOA Clinic:</span>
  <span>+48 71 772 42 70</span>
  <span>office@noaclinic.pl</span>
</div>