/* You can add global styles to this file, and also import other style files */

@import './styles/import';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/all';

body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: 16px normal;
  font-family: 'Roboto', sans-serif;
  background: url('assets/img/clinic-background.png') top center fixed no-repeat;
  background-size: cover;
}

.niconne {
  font-family: 'Niconne', cursive;
}

.page-container--1200 {
  display: block;
  margin: 0 0.5rem;

  @include media-breakpoint-up(md) {
    margin: 0 1rem;
  }

  @media (min-width: 1232px) {
    margin: 0 auto;
    width: 1200px;
  }
}

.page-container--900 {
  display: block;
  margin: 0 0.5rem;

  @include media-breakpoint-up(md) {
    margin: 0 1rem;
  }

  @media (min-width: 932px) {
    margin: 0 auto;
    width: 900px;
  }
}

.page-background {
  background: $white;
  border: 1px solid map-get($theme-colors, light);
  border-radius: 0.5rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
