@import 'src/styles/import';

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid $light;
  background: $white;
  color: $black;
  outline: none;

  &::placeholder {
    opacity: 0;
    visibility: hidden;
    color: $secondary;
  }

  &:focus {
    border-color: $primary;
    opacity: 1;
    visibility: visible;
  }

  &.error {
    color: $danger;
    border-color: $danger;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms transform, 300ms top, 300ms left;
  color: $secondary;
  cursor: text;

  &.focused,
  &.not-empty {
    top: 100%;
    left: 0;
    transform: translate(0);
    font-size: 12px;
  }

  &.focused {
    color: $primary;
  }

  &.error {
    color: $danger;
  }
}

.errors {
  span {
    color: $danger;
    display: block;
    font-size: 14px;
  }
}
