@import 'src/styles/import';

.marta-image {
  width: 200px;

  @include media-breakpoint-up(md) {
    width: 300px;
  }

  @include media-breakpoint-up(lg) {
    width: 350px;
  }
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include media-breakpoint-up(md) {
    justify-content: flex-end;
  }
}

.heading {
  @include fluid-typography(32px, 64px);
  color: $primary;
}

.subheading {
  @include fluid-typography(14px, 32px);
  color: $dark;
}

.btn-text {
  line-height: 1.5rem;
  white-space: normal;
}

.btn-subtext {
  font-size: 12px;
  line-height: 14px;
  white-space: normal;
}

.reviews-container {
  margin-top: -2px;
  background: $primary;
  color: $white;
}

.znanylekarz-logo {
  position: absolute;
  top: -32px;
  left: 60%;
  width: 64px;
}
